@font-face
{
font-family: janheaderfont;
src: url('../ui/fonts/Chunk.ttf');
}
@font-face
{
font-family: jantextfont;
src: url('../ui/fonts/Raleway Thin.ttf');
}


body{
margin: 0;
font-family:jantextfont;
background-color: #243240;
}
h1,h2,h3,h4,h5,h6 {
  font-family: janheaderfont;
}
/*
Top bar, includes logo, login info, and header
*/
#headbar {
position:fixed;
font-family: janheaderfont;
top:0;
width:100%;
height:12%;
background:#314659;
z-index:2;
}
#logo{
position:relative;
height:100%;
float:left;
left: 15%;
}
#logo img{
padding:1% 1%;
height:100%;
width:100%;
}
#headbar h1 {
text-align:center;
color:#EEE;
margin:0;
}
#loginname {
position:fixed;
top:1%;
right:5%;
z-index:5;
color:#AAA;
}
/*
main content of the page, whats "inside" the menu, footer, and header
*/
#content {
width:80%;
border-radius: 30px;
margin:0 5%;
padding:12% 5%;
background:#667D91;
}

/*
main menu, allows navigation of site, and will be consistant thoughout website
*/
#adminmenu{
position:fixed;
top:auto;
right:15%;
bottom:0;
z-index:4;
}
#adminmenu li a{
}
.menu {
position:fixed;
white-space: nowrap;
right:0;
top:0;
text-align:left;
display:inline;
font-size:14px;
font-weight:bold;
}
.menu ul {
list-style: none;
padding: 0;
display:inline;
}
.menu li
{
float: left;
list-style: none;
display:inline;
}
.menu li a
{
border-radius: 10px;
margin: 20px 5px 5px 5px;
padding:10px;
background-color:#778EA3;
color: #F96533;
display: inline;
float: left;
width: 100px;
display:inline;
text-decoration: none;
text-align: center;
transition:.5s;
}
.menu li a:hover
{
background-color:#9DAFBF;
margin-top:10px;
font-weight:bold;
}
/*
footer, has our company and copyright information, consistent throughout 
*/
#footbar {
position:fixed;
font-family: janheaderfont;
text-align:center;
font-size:12;
color:white;
bottom:0;
left:0;
width:100%;
height:5%;
background:#314659;
clear:both;
float:left;
z-index:1;
}

/*
Order Page
gallery
*/
#gallery{
margin:0 1%;
width:48%;
height:100%;
float:left;
}
#description{
border-radius: 5px;
margin:10px 0;
text-align:center;
color:#F96533;
width:100%;
background:#667D91;
float:left;
clear:both;
}
#mainimg{
width:100%;
height:300px;
background:black;
float:left;
border-radius: 10px;
}
#price {
color: white;
height:0;
font-size: 25;
position: relative;
bottom: 50px;
display: block;
float: right;
right: 15px;
text-shadow: -1px -1px 0 #000,
 1px -1px 0 #000,
 -1px 1px 0 #000,
 1px 1px 0 #000;
 }
#orderform{
margin:0 1%;
width:48%;
height:100%;
background:blue;
float:left;
}
.galleryitem{
opacity: 0.5;
border-radius: 10px;
transition:all .75s ease;
width:80px;
height:80px;
margin:5px;
float:left;
background-color:black;
}
.galleryitem img{
border-radius: 10px;
width:100%;
height:100%;
}
.hidden{
display:none;
}
.highlight{
opacity: 1;
border-style:solid;
border-width:5px;
}