body{
margin: 0;
background-color: #243240;
}
/*
Top bar, includes logo, login info, and header
*/
#headbar {
position:fixed;
top:0;
width:100%;
height:12%;
background:#314659;
z-index:2;
}
#logo{
position:relative;
height:100%;
float:left;
left: 15%;
}
#logo img{
padding:1% 1%;
height:100%;
width:100%;
}
#headbar h1 {
text-align:center;
color:#EEE;
margin:0;
font-family:"Comic Sans MS", cursive, sans-serif;
}
#loginname {
position:fixed;
top:1%;
right:5%;
z-index:5;
color:#AAA;
}
#logoutbutton{
	position:absolute;
	right:2%;
	top:50%;
	padding:0 10px;
	border-radius:10px;
	transition: all .5s ease;
	text-align:center;
	background:#AAA;
	}
#logoutbutton:hover{
	background:#5A5A5C;
	}
#logoutbutton a{
	font-weight:bold;
	font-size:16;
	position:relative;
	height:100%;
	width:100%;
	display:block;
	text-decoration: none;
	}
/*
main content of the page, whats "inside" the menu, footer, and header
*/
#content {
width:70%;
border-radius: 30px;
margin:0 10%;
padding:12% 5%;
background:#667D91;
}

/*
main menu, allows navigation of site, and will be consistant thoughout website
*/
#adminmenu{
position:fixed;
margin:0;
top:auto;
right:15%;
bottom:0;
z-index:4;
}
#adminmenu li a{
padding:3px;
}
.menu {
position:fixed;
right:0;
top:0;
text-align:left;
display:inline;
font-size:14px;
font-weight:bold;
}
.menu ul {
list-style: none;
padding: 0;
display:inline;
}
.menu li
{
float: left;
list-style: none;
display:inline;
}
.menu li a
{
border-radius: 10px;
margin: 20px 5px 5px 5px;
padding:10px;
background-color:#778EA3;
color: #F96533;
display: inline;
float: left;
width: 100px;
display:inline;
text-decoration: none;
text-align: center;
transition:.5s;
}
.menu li a:hover
{
background-color:#9DAFBF;
width: 125px;
font-weight:bold;
}
/*
footer, has our company and copyright information, consistent throughout 
*/
#footbar {
position:fixed;
text-align:center;
font-size:12;
color:white;
bottom:0;
left:0;
width:100%;
height:5%;
background:#314659;
clear:both;
float:left;
z-index:1;
display:;
}

/*
Order Page
gallery
*/
#gallery{
padding:1%;
width:40%;
height:150%;
background:red;
float:left;
}
#description{
text-align:center;
width:100%;
margin:10px 0;
height:40px;
background:#AAA;
float:left;
}
#mainimg{
width:100%;
height:300px;
background:blue;
float:left;
}
#orderform{
margin:0 1%;
width:50%;
height:70%;
background:blue;
float:left;
}
.galleryitem{
width:80px;
height:80px;
margin:5px;
float:left;
background-color:black;
}